.sign-up-form {
  .head {
    text-align: left;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: capitalize;
  }

  label {
    color: #344054;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .lowMedium {
    text-align: left;
    margin-bottom: 30px;
  }
}
